<template>
  <div>
    <van-nav-bar title="Check Phone" left-arrow @click-left="$router.back"/>
    <div class="page-box">
      <van-cell-group class="btn-group" inset>
        <van-field v-model="phoneNo" clearable label="+63" placeholder="Phone No" maxlength="11">
          <template #button>
            <van-button size="small" type="primary" :disabled="phoneNo.length!=11" @click="onCheckClick">CHECK
            </van-button>
          </template>
        </van-field>
      </van-cell-group>
      <div class="result-txt">{{ resTxt }}</div>
    </div>
  </div>
</template>

<script>
import {closeToast, showDialog, showLoadingToast} from "vant";
import jose from "node-jose";

export default {
  name: "CheckPhone",
  mounted() {
    this.initEnvToken()
  },
  data() {
    return {
      resTxt: '',
      envToken: '',
      phoneNo: '',
    }
  },
  methods: {
    initEnvToken() {
      this.phoneNo = localStorage.getItem('phoneNo')
      this.envToken = sessionStorage.getItem('env-token')
    },
    async onCheckClick() {
      if (!this.phoneNo) {
        return
      }
      showLoadingToast({duration: 3000, forbidClick: true,});
      let reqData = await this.getRequestData({
        "envInfo": {
          "tokenId": this.envToken,
          "osType": "iOS",
          "osVersion": "13.2.3",
          "browserType": "Safari",
          "browserVersion": "13.0.3",
          "terminalType": "WAP"
        },
        "loginIdType": "MOBILE_NO",
        "loginId": this.phoneNo,
        "extParams": {
          "bizNo": "",
          "sessionId": null,
          "bizTypeForMonitor": "ONLINE_LAZADA",
          "merchantForMonitor": ""
        }
      })
      let url = 'https://mgs-gw.paas.mynt.xyz/mgw.htm?ctoken='
      let proxyUrl = `https://bird.ioliu.cn/v2?url=${url}`
      let some = encodeURIComponent(`["${reqData}"]`)
      let data = `operationType=${this.$mock.GC_ACTIONS[4]}`
        + `&requestData=${some}`
        + '&version=2.0&workspaceId=PROD&appId=D54528A131559&tenantId=MYNTPH'
      let ret = await fetch(proxyUrl, {
        "headers": {
          "content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        "body": data,
        "method": "POST"
      });
      let res = await ret.json()
      closeToast()
      this.resTxt = JSON.stringify(res)
      console.log(res)
      if (res.result.success) {
        let secureId = res.result.riskConsultInfo.securityId
        console.log(secureId)
        localStorage.setItem('phoneNo', this.phoneNo)
        localStorage.setItem('securityId', secureId)
        showDialog({message: 'Check OK, Send Code?'}).then(() => {
          this.$router.push('SendCodePage')
        })
      }
    },
    async getRequestData(payload) {
      let key = await jose.JWK.asKey(this.$mock.GC_PK, "pem")
      let input = JSON.stringify(payload)
      let opts = {
        "format": "compact",
        "contentAlg": "A256GCM",
        "fields": {
          "alg": "RSA-OAEP"
        }
      }
      return await jose.JWE.createEncrypt(opts, key).update(input).final()
    },
  },
}
</script>

<style scoped>
.result-txt {
  margin-top: 12px;
  font-size: 12px;
  border-radius: 5px;
  background: bisque;
  padding: 12px;
  word-break: break-all;
}

.page-box {
  padding: 12px;
}
</style>
