<template>
  <div>
    <van-nav-bar title="Decode Data" left-arrow @click-left="$router.back"/>
    <div class="input-area">
      <van-field v-model="enText" rows="20" type="textarea" placeholder="Enter Encoded Text" show-word-limit
                 maxlength="99999" class="edit-box"/>
      <div class="btn-line">
        <van-button type="success" size="small" class="line-btn" @click="onDecodeClick">Decode</van-button>
        <van-button size="small" @click="enText=''" class="line-btn">Clear</van-button>
      </div>
      <div class="parsed-box">
        <div class="head-txt">HEADER: {{ headerTxt }}</div>
        <div class="payload-txt">PAYLOAD: {{ payloadTxt }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import jose from 'node-jose'

export default {
  name: "DecodeDataPage",
  data() {
    return {
      enText: this.$mock.DEMO_ENCODED,
      headerTxt: '',
      payloadTxt: '',
    }
  },
  methods: {
    async onDecodeClick() {
      let key = await jose.JWK.asKey(this.$mock.GC_PK, "pem")
      let dec = await jose.JWE.createDecrypt(key).decrypt(this.enText)
      this.headerTxt = dec.header
      this.payloadTxt = dec.payload
      console.log(JSON.parse(dec.payload))
    },
  },
}
</script>

<style scoped lang="less">
.parsed-box {
  .payload-txt {
    background: beige;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .head-txt {
    background: aquamarine;
    padding: 10px;
    border-radius: 5px;
  }

  word-break: break-all;
  font-size: 12px;
}

.edit-box {
  word-break: break-all;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 14px;
}

.btn-line {
  .line-btn {
    flex: 1;
    margin: 0 20px;
  }

  padding: 10px 20px;
  display: flex;
}

.input-area {
  padding: 10px;
}
</style>
