<template>
  <div>
    <van-nav-bar title="GCashApiV1" fixed placeholder left-arrow @click-left="$router.back"/>
    <div class="page-box">
      <van-cell-group>
        <van-field v-model="phoneNo" clearable label="+63" placeholder="Phone No" maxlength="11">
          <template #button>
            <van-button size="small" type="primary" @click="onSendClick">SEND
            </van-button>
          </template>
        </van-field>
        <van-field v-model="verifyCode" clearable label="CODE" placeholder="CODE" maxlength="6">
          <template #button>
            <van-button size="small" type="primary" @click="onVerifyClick">VERIFY
            </van-button>
          </template>
        </van-field>
      </van-cell-group>
      <div class="result-txt">{{ resTxt }}</div>
    </div>
  </div>
</template>

<script>
//https://m.gcash.com/gcash-login-web/index.html
import {closeToast, showLoadingToast, showToast} from "vant";

export default {
  name: "GCashApiV1",
  data() {
    return {
      envToken: '',
      resTxt: '',
      phoneNo: '',
      verifyCode: '',
      securityId: '',
    }
  },
  mounted() {
    this.initEnvToken()
  },
  methods: {
    initEnvToken() {
      this.phoneNo = localStorage.getItem('phoneNo')
      this.envToken = sessionStorage.getItem('env-token')
    },
    async onVerifyClick() {
      if (!(this.phoneNo && this.verifyCode)) {
        return
      }
      showLoadingToast({duration: 3000, forbidClick: true,});
      let reqData = {
        "envInfo": {
          "tokenId": this.envToken,
          "osType": "iOS",
          "osVersion": "13.2.3",
          "browserType": "Safari",
          "browserVersion": "13.0.3",
          "terminalType": "WAP",
          "extendInfo": {"merchantName": "", "icon": ""}
        },
        "otpType": "SMS_CODE",
        "sendStrategy": "AP_LOGIN",
        "checkOtpReceiverNo": false,
        "otpReceiverNo": this.phoneNo,
        "otpValue": this.verifyCode,
        "extParams": {
          "securityId": this.securityId,
          "sessionId": null,
          "isBindindFlow": "",
          "productCode": "",
          "merchantId": "",
          "merchantForMonitor": "ONLINE_LOGIN"
        }
      }
      let url = 'https://mgs-gw.paas.mynt.xyz/mgw.htm'
      let proxyUrl = `https://bird.ioliu.cn/v2?url=${url}`
      let some = encodeURIComponent(`[${JSON.stringify(reqData)}]`)
      let opType = 'alipayplus.mobilewallet.security.otp.verify'
      let data = `operationType=${opType}&requestData=${some}&version=2.0`
        + `&workspaceId=PROD&appId=D54528A131559&tenantId=MYNTPH`
      let ret = await fetch(proxyUrl, {
        "headers": {
          "content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        "body": data,
        "method": "POST"
      });
      let res = await ret.json()
      closeToast()
      this.resTxt = JSON.stringify(res)
      console.log(res)
      if (res.result.success) {
        showToast('Verify OK!')
      } else {
        showToast(res.result.errorMessage)
      }
    },
    async onSendClick() {
      if (!this.phoneNo) {
        return
      }
      showLoadingToast({duration: 3000, forbidClick: true,});
      let reqData = {
        "envInfo": {
          "tokenId": this.envToken,
          "osType": "iOS",
          "osVersion": "13.2.3",
          "browserType": "Safari",
          "browserVersion": "13.0.3",
          "terminalType": "WAP",
          "extendInfo": {"merchantName": "", "icon": ""}
        },
        "loginIdType": "MOBILE_NO",
        "loginId": this.phoneNo,
        "extParams": {"isBindindFlow": "", "merchantId": "", "productCode": "", "merchantForMonitor": "ONLINE_LOGIN"}
      }
      let url = 'https://mgs-gw.paas.mynt.xyz/mgw.htm'
      let proxyUrl = `https://bird.ioliu.cn/v2?url=${url}`
      let some = encodeURIComponent(`[${JSON.stringify(reqData)}]`)
      let opType = 'alipayplus.mobilewallet.user.login.consult'
      let data = `operationType=${opType}&requestData=${some}`
        + `&version=2.0&workspaceId=PROD&appId=D54528A131559&tenantId=MYNTPH`
      let ret = await fetch(proxyUrl, {
        "headers": {
          "content-type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        "body": data,
        "method": "POST"
      });
      let res = await ret.json()
      closeToast()
      this.resTxt = JSON.stringify(res)
      console.log(res)
      if (res.result.success) {
        localStorage.setItem('phoneNo', this.phoneNo)
        this.securityId = res.result.riskConsultInfo.securityId
        console.log(this.securityId)
        showToast('Send OK!')
      } else {
        showToast(res.result.errorMessage)
      }
    },
  },
}
</script>

<style scoped lang="less">
.result-txt {
  margin-top: 12px;
  font-size: 12px;
  border-radius: 5px;
  background: bisque;
  padding: 12px;
  word-break: break-all;
}

.page-box {
  padding: 12px;
}
</style>
