<template>
  <div>
    <van-nav-bar title="GCashApiV2" fixed placeholder left-arrow @click-left="$router.back"/>
    <div class="home-div">
      <van-cell-group class="btn-group" inset>
        <van-cell v-for="(it, idx) in appEntries" :key="idx" :title="it.txt" is-link :to="it.to"/>
      </van-cell-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "GCashApiV2",
  data() {
    return {
      appEntries: [
        {txt: 'Decode Data', to: 'DecodeDataPage'},
        {txt: 'Check Phone No', to: 'CheckPhone'},
        {txt: 'Send Verify Code', to: 'SendCodePage'},
        {txt: 'Enter Verify Code', to: 'EnterCodePage'},
      ],
    }
  },
}
</script>

<style scoped lang="less">
.home-div {
  padding: 12px 0;
}

.btn-group {
  margin-bottom: 12px;
}
</style>
