<template>
  <div>
    <van-nav-bar title="HOME" fixed placeholder/>
    <div class="home-div">
      <van-cell-group class="btn-group" inset>
        <van-cell v-for="(it, idx) in appEntries" :key="idx" :title="it.txt" is-link :to="it.to"/>
      </van-cell-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomePage",
  data() {
    return {
      appEntries: [
        {txt: 'Api V2', to: 'GCashApiV2'},
        {txt: 'Api V1', to: 'GCashApiV1'},
      ],
    }
  },
}
</script>

<style scoped lang="less">
.home-div {
  padding: 12px 0;
}

.btn-group {
  margin-bottom: 12px;
}
</style>
