<template>
  <router-view className="router-view"/>
</template>

<script>
import 'vant/es/toast/style'
import 'vant/es/dialog/style'
import 'vant/es/notify/style'
import 'vant/es/image-preview/style'

export default {
  name: 'App',
  mounted() {
    let envToken = sessionStorage.getItem('env-token')
    if (!envToken) {
      envToken = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
        .replace(/[xy]/g, x => {
          let n = 16 * Math.random() | 0;
          return ("x" === x ? n : 3 & n | 8).toString(16)
        })
      sessionStorage.setItem('env-token', envToken)
    }
  },
}
</script>

<style>
.router-view {
  background: #f7f7f7;
  height: 100%;
}
</style>
